.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navigation-bar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(135, 206, 235, 0.1);
  border: 1px solid #e7e7e7;
}

.navigation-text {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: serif;
  border-right: 1px dotted #bbb;
}

.navigation-text:hover {
  background-color: #87CEEB;
}
