.options-container {
  height: 100%;
  padding-top: 5%;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.donor-routes {
  width: 483px;
  height: 330px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 10px 0px 40px 15px;
  background-image: url("donor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.donor-text {
  position: absolute;
  height: 110px;
  width: 100%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  font-family: serif;
  font-size: 5em;
  color: #00008B;
  text-decoration: none;
  text-align: center;
}

.organization-routes {
  width: 483px;
  height: 330px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 10px 0px 40px 15px;
  background-image: url("organization.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.organization-text {
  position: absolute;
  height: 110px;
  width: 100%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  font-family: serif;
  font-size: 5em;
  color: #00008B;
  text-decoration: none;
  text-align: center;
}