.project-display {

  margin: 20px;
  background-color: white;
  -webkit-box-shadow: 3px 4px 7px #666666;
  -moz-box-shadow: 3px 4px 7px #666666;
  box-shadow: 3px 4px 7px #666666;
  padding: 10px;
  margin-bottom: 10px;
}

.project-title-disp {

  border-bottom: solid #0059b3 1px;
  padding-bottom: 20px;
  paddign-left: 5px;
  font-family: Arial;
  font-family: 'Crimson Text', serif;
  font-size: 2em;

}

.item-container{
  background-color: white;
  -webkit-box-shadow: 3px 4px 7px #666666;
  -moz-box-shadow: 3px 4px 7px #666666;
  box-shadow: 3px 4px 7px #666666;
  margin: 20px;
  display: inline-block;
  min-width: 30%;
}

.item-image {
  display: inline-block;
}

.item-info {
  display: inline-block;
  width: 200px;
  text-align: center;
  vertical-align: top;
  font-family: Arial;
  font-family: 'Crimson Text', serif;
}