.registration-container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #FFFFFF;
  border-radius: 3px * 1.4;
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.2);
}

.registration-text {
  color: #00008B;
  font-family: 'Lora', serif;
}

.input-text {
  width: 90%;
  padding: 1em;
  line-height: 1.4;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Lora', serif;
  font-size: 0.8em;
}

/*.large-input-text {
  width: 90%;
  height: 40%;
  padding: 3em;
  line-height: 1.5em;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Lora', serif;
  font-size: 0.8em;
}*/

.input-field, .large-input-field {
  border: 0px solid #ffffff;
  background: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #050505;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  padding:8px;
  margin-bottom:20px;
  width:280px;
}

.input-field:focus, .large-input-field:focus {
  background: #ffffff;
  color: #000000;
}

.submit-button {
  width: 100%;
  padding: 5px 6% 8px 6%;
  margin: 0 0 35px 0;
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189,0.8);
  box-shadow:
    0pt 2px 5px rgba(105, 108, 109,  0.7),
    0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  border-radius: 5px;
}

.submit-text {
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 1.2em;
  color: #00008B;
}

.message-one {
  text-align: center;
  color: #00008B;
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 1.2em;
}

.message-one .message-two {
  display: center;
  color: #16A7EE;
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 0.8em;
}

.message-two {
  background: transparent;
  border: none;
}

.identification-number-text, .label-text {
  color: #00008B;
  font-family: 'Lora', serif;
}

.select-menu {
  --styled-select-placeholder__color: #999;
  --styled-select__color: white;
  --styled-select__background-color: #3a45e2;
  --styled-select__border-color: blue;
  --styled-select__border-width: 3px;
  --styled-select__border-radius: 5px;

  --styled-select-menu-outer__margin: 10px 0 0 0;
  --styled-select-menu-outer__padding: 0;
  --styled-select-menu-outer__background-color: #3a45e2;
  --styled-select-menu-outer__border-color: blue;
  --styled-select-menu-outer__border-style: solid;
  --styled-select-menu-outer__border-width: 3px;

  --styled-select-option__background-color: #212ede;

  --styled-select-option__color--focused: #eee;
  --styled-select-option__background-color--focused: #050d83;

  --styled-select-option__color--selected: #eee;
  --styled-select-option__background-color--selected: #212ede;
}
